{% extends "layout.html" %}

{% block content %}
<div id="Main">

<h1 class="HEADING">Add New Password</h1>
<form action="#" method="post">
    <div class="mb-3">
      <label for="newWebsite" class="form-label">Website</label>
      <input type="text" class="form-control" name="newWebsite" placeholder="Enter website" id ="newWebsite" onkeyup="addValidPassword()">
    </div>
    <div class="mb-3">
      <label for="newUsername" class="form-label">Username / Email</label>
      <input type="text" class="form-control"  name="newUsername" placeholder="Enter username" id="newUsername" onkeyup="addValidPassword()">
    </div>
    <div class="mb-3">
        <label for="newPass" class="form-label">Password</label>
        <input type="text" class="form-control"  name="newPass" placeholder="Enter or generate password" id="NewPass"  onkeyup="addValidPassword()">
    </div>
    <p id ="new-warning-message"></p>
    <label for="customRange3" class="form-label">Password Generator</label>
    <input type="range" class="form-range" min="8" max="30" step="1" id="PasswordRange" onmousemove="getValue()">
    <p id ="RangeValue"></p>
    <a class="btn btn-info" onclick="generate()">Generate</a>

    <input type="submit" value="Add Credentials" class="btn btn-success" id="add-button" disabled/>
  </form>
</div>
{% endblock content %}