{% extends "layout.html" %}

{% block content %}

<div id="Main">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">{{message}}</div>
    {% endfor %}
    
    <h1 class="HEADING">Login</h1>
    <form action="#" method="post">
        <div class="mb-3">
          <label for="loginEmail" class="form-label">Email address</label>
          <input type="email" class="form-control" aria-describedby="emailHelp" name="loginEmail">
        </div>
        <div class="mb-3">
          <label for="loginPass" class="form-label">Password</label>
          <input type="password" class="form-control"  name="loginPass">
        </div>
        <input type="submit" value="Login" class="btn btn-success" id="submit-button"/>
        <a href="{{ url_for('register') }} " class="btn btn-primary">Register</a>
      </form>
</div>
{% endblock content %}
